.news{
	padding-top: 80px;
	padding-bottom: 100px;
	background-color: #edeff1;
	&-block{
		padding-top: 80px;
	}
	&-block-image{
		font-weight: 300;

		&-title{
			font-size: 24px;
			font-weight: 700;
			color: #31353e;
			text-align: center;
			padding-top: 40px;
		}
		&-text{
			font-size: 15px;
			font-weight: 300;
			line-height: 30px;
			color: #31353e;
			text-align: center;
			padding: 15px 15px 35px 15px;

		}
	}
}



