.news{
	padding-top: 80px;
	padding-bottom: 100px;
	background-color: #edeff1;
	&-block{
		padding-top: 80px;
	}
	&-block-image{

	}
}
// color: #31353e;
// font-family: Roboto;
// font-size: 15px;
// font-weight: 300;
// line-height: 30px;
// Text style for "L, orem ip"
// font-family: "Roboto Slab";
// font-size: 24px;
// font-weight: 700;
// /* Text style for "Est a elit" */
// font-weight: 300;