.button{
	display: inline-block;
    padding: 25px 70px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    &-center{
        text-align: center;
    }
    &-brand{
         &-one{
                color: $color-brand-one;
                background-color: $color-primary;
            }
            &-two{
                color: #4e5159;
                background-color: $color-primary;
            }
        &-color{
                color: $color-primary;
                padding: 18px 70px;
                margin-top: 45px;
                border-radius: 40px;
                border: 1px solid rgba(255, 255, 255, 0.5);
            &-red{
                background-color: #dd4b2b;;
            }
            &-blue{
                background-color: #4b4e73;
            } 
        }
    }
}
