.button{
	display: inline-block;
    padding: 25px 70px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    cursor: pointer;
    color: $color-brand-one;
    border-radius: 50px;
    background-color: $color-primary;
    &-brand{
        &-one{
            text-align: center;
            &:hover{
                background-color: $color-brand-one;
                color: $color-primary;
            }
        }
        &-two{
            color: $color-brand-four;
            &:hover{
                background-color: $color-brand-four;
                color: $color-primary;
        }

    }
        
    
}