$color-primary: #fff;
$color-brand-one: #dd4b2b;
$color-brand-two: #31353e;
$color-brand-three: #612316;
$color-brand-four: #4e5159;
$color-brand-five: #191b29;
$gradient-image: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);