$color-primary: #fff;
$color-brand-one: #dd4b2b;
$color-brand-two: #31353e;
// $gradient: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
$gradient-image: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);